
html{
    background:  #53595f /*#f5f5f5*/;
    color:rgb(0, 0, 0);
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav{
    width: 100%;
    height: 85px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 5vh;
}

nav ul{
    float:center;
}

nav ul li{
    float:left;
    list-style:none;
    position: relative;
}

nav ul li.active{
    color:black;
}

nav ul li a{
    color:#ffffff;
    padding:20px;
    display:block;
}

nav ul li a:hover{
    background-color:rgb(188, 188, 188);
}

nav ul li ul{
    display:none;
    position:absolute;
    background-color: #777e85;
    padding:7px;
    border-radius: 0px 0px 12px 12px;
}

nav ul li:hover ul{
    display: block;
}

nav ul li ul li a{
    color:white;
}

nav ul li ul li a:hover{
    background-color: #53595f;
}

a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}


.kopf {
    text-align: center;
    /*color: #53595f;*/
}

.kopf-text {
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 30px;
}

.boxes {
    display: flex;
    justify-content: space-around;
    margin: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#anleitungen{
    background-image: url("images/HALLE_VORSTELLUNG2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50%  95%;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

#Techzyklopedie{
    background-image: url("images/ABBAU.jpg");
    background-repeat: no-repeat;
    background-size: 130%;
    background-position: 60% 40%;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

#Pläne{
    
    background-image: url("images/Plan_STOCK.jpeg");
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: center;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.overlay{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.text_box {
    position: relative;
    z-index: 2;
    color: #ffffff;
    opacity: 90%;
    text-align: center;
}
#Lichtpult{
    background-image: url("images/lichtpult.jpg");
    background-repeat: no-repeat;
    background-size: 105%;
    background-position: bottom;
}

.box {
    /*background-image: url("images/stageboxvorne.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;*/
    background-color: #53595f;
    color: #b7b7b7;
    font-size: 3em;
    z-index: 2;
    font-weight: bold;
    width: 25%;
    padding: 2%;
    margin: 0% auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    transition: /*background-color*/transform 0.3s ease-in-out;
}

.box:hover {
    /*background-color: #464a4e;*/
    transform:scale(110%)
}

header{
    background-image:url("images/SCHEINWERFER_SMOKE.jpg");
    /*braucht noch ein anderes foto*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom 60% right;
    display: flex;
    justify-content: center;
    border-radius: 2vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 3vh 6.75vh;
    align-items: center;
    padding: 0% 2%;
    /*text-align: center;*/
    height: 30vh;
    
}

header h1 {
    font-size: 2.5em;
    margin-left: 30%;
    margin-right: 30%;
    padding: 10px 0;
    background-color: rgb(0, 0, 0);
    opacity:70%;
    border-radius: 10px;
    color:rgb(255, 255, 255);
    padding:1.5%;
    text-transform: uppercase;
    margin-top: 0%;
   
}

header p {
    font-size: 1.2em;
    color: #555;
}


.welcome-section {
    text-align: center;
    background-image:url(images/LICHTPULT_HAND.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
    background-color: #53595f;
    color:white;
    width: 91.5%;
    margin: 0px auto;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index:2;
    background-blend-mode: darken;
}


footer{
    display: block;
    box-sizing: border-box;
    background-color: #cecece;
    color: #000000;
    text-align: left;
    padding: 5%;
    border-radius: 10px;
    margin: 10px;
    }

footer div{
    display:flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: flex-start;
    inline-size: 100%;
}

footer img{
    max-width: 17px;
    padding-right: 5px;
}

/*.footer-left {
        text-align: left;
    }
    
.footer-center {
        text-align: center;
    }
    
.footer-right {
        text-align: right;
    }
    */.footer-bottom {
        font-size: small;
        text-align: center;
        margin-top: 5vh;
        color:#777e85
    }
    @media screen and (max-width: 768px) {
        /*.footer {
            flex-direction: column;
        }*/

        .boxes {
            flex-direction: column;
            align-items: center;
        }

        .box {
            width: 80%;
            margin-bottom: 20px;
        }
        
        .welcome-section {
            align-items: center;
            flex-direction: column;
        }
    
    @media screen and (max-width: 600px) {
        footer div{
            flex-direction: column;
        }
    }

    }